__pycache__/
FlatData/
input/
output/
Temp*/
Extracted/
Download/
audio/
Voice/
测试/
BAJpApkSrc/
BA-APKSRC/
BA-TableBundles/
BA-Text/

*.bytes
*.db
*.zip
.env
*.apk
.script_cfg
.backup/

测试*

BundlePackingInfo*
*Catalog*.json
*Manifest*

account.json