cloudscraper==1.2.71
flatbuffers==25.12.19
lib==4.0.0
lxml==6.1.2
Pillow==12.3.0
pycryptodome==3.23.0
pyminizip==0.2.6; platform_system != "Windows"
pyzipper>=0.4.0
python-dotenv==1.2.3
Requests==2.34.2
setuptools==84.0.0
tqdm==4.70.0
xxhash==4.0.1
./PyCriCodecs
./crcmanip
